.Weather {
font-family: poppins;   
border: 1px solid #dadd;
border-radius: 5px;
color: #ff0000;
margin: 30px auto;
padding: 16px;
max-width:500px;
 
}

.Weather h1 {
color: #878787;
font-size: 24px;
font-weight: 100px;
margin: 20px 0 0 0;
line-height: 29px;
}

.Weather li  {
font-size: 16px;
font-weight: 100;
line-height: 19px;
list-style: none;
}

.Weather ul {
margin: 0;
padding: 0;
}

.Weather .temperature {
font-weight: bold;  
font-size: 64px;
color: rgb(33, 33, 33);
font-weight: 400px;
line-height: 64px;
}

.Weather canvas {
height: 60px;
margin-top: 6px;
display: inline-block;
}

.Weather .unit {
color:rgb(33, 33, 33);
font-size: 16px;
font-weight: 400px; 
position: relative;
line-height: 1;
margin-right: 10px;
top: -34px;
}